fastai==2.0.10            # via -r -
jupyter-server-proxy==1.5.0  # via -r -
streamlit==0.66.0         # via -r -
torch==1.6.0              # via fastai, torchvision
torchvision==0.7.0        # via fastai
